*{
    box-sizing: border-box;
}

header{
    height: 70px;
}

.Header{
    width: 200x;
    position: relative;
    left: 80px;
    bottom: 80px;
}
h1{
    font-family: 'Kaushan Script', cursive;
}
#logo{
    width: 60px;
    height: 60px;
}


.par1{
    position: relative;
    bottom: 10px;
}

.headerIMG {
    position: absolute;
    right:60px ;
    top: 20px;

}

ul li {
    display: inline;
    list-style:none;
}

.hr{
    height: 20px;
    background-image : url("https://github.com/LTUC/amman-201d14/blob/main/class-10/lab-a/lab-assets/hr-img.png?raw=true");
    background-repeat : repeat;

}

.write{
    font-family: 'Teko', sans-serif;
    font-size:xx-large;

}
.color{
    color: lightgray;
    position:absolute;
    top: 60px;
}
main{
    position: relative;
    
}
main  div img{
position: absolute;
width:40px;
right:60px;
top:15px;

}

main img{
    width: 100%;
    
}

.print{
    position: absolute;
    top: 55px;
}
.pr{
    position: absolute;
    top: 20px;
    right: 0px;
    color: lightgray;

}
.h2{
    font-size:80px;
}

.c{
    font-size: medium;
    color: black;
    text-indent: 50px;
    font-size: xx-large;
   

    
}
#f2 {
float: left;
margin-left: 140px ;
margin-right: 50px;
font-size:x-large;
}

main section form{
    font-size: x-large;
    margin: 3px;
}

#f1{
    position: relative;
    margin-top: 30px;
    margin-left: 200px;
    background-repeat: no-repeat;
    background-image: url(https://github.com/yahyaalbashar/amman-201d15/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true);
}

button{
    float: right;
    color: white;
    font-weight: bold;
    background-color: red;
    border-color: lightgray;
}

#sugar{
    text-decoration: line-through;
}

footer  img{
    width:100px;
    
}
footer{
    position: relative;
}

 footer section h3 {
     position:absolute ;
     top: 0px;
     left:120px;
     font-size: x-large;

 }

 footer section p{
   position:absolute ;
   top: 30px;
   left:120px;
   font-size:x-large ;
   width:600px;

 }

 footer button{
     position: absolute;
     right: 0px;
     top:25px;
     padding: 20px;
     
     font-size: large;
     color: white;
     background-color:rgb(153, 47, 47);
     border:rosybrown;
 

}

footer div .last{
   position: absolute;

}

.div{
   position: absolute;
   left: 700px;
   top:150px;
   color:lightgray;
}

.small{
   position: absolute;
   left: 800px;
   width:50px;
   top:80px;
}

